Repository eepson123tw/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(husky): add the husky
  .husky/commit-msg
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

feat(husky): test husky
  package.json
Due: none

feat(husky): test linter
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  commitlint.config.js
  package.json
Due: eslint --fix

feat(package.json): add some description
  package.json
Due: none

feat(package.json): add some detail about this project
  .lintstagedrc
Due: none

feat(change-file-name): remove unknown file name and change to the meaning name.
  docs/.vitepress/cache/deps/_metadata.json
  docs/public/atom.xml
  docs/router/frontEnd.ts
  docs/router/smallTalk.ts
  docs/view/posts/change-job-smalltalk.md
  docs/view/posts/chatgpt-smalltalk.md
  docs/view/posts/complexible-requirement-smalltalk.md
  docs/view/posts/frontend-job-smalltalk.md
  docs/view/posts/intersection-observer-api.md
  docs/view/posts/obj-constructure.md
  docs/view/posts/type-interface-diff.md
  docs/view/posts/web-performance.md
Due: prettier --write

feat(PageInfo|Icon): add the page info and icon
  .vscode/settings.json
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/component/CustomLink.vue
  docs/component/PageInfo.vue
  docs/router/index.ts
  docs/utils/markdown-pipe.ts
  docs/view/posts/change-job-smalltalk.md
  docs/view/posts/chatgpt-smalltalk.md
  docs/view/posts/complexible-requirement-smalltalk.md
  docs/view/posts/dom.md
  docs/view/posts/frameWork.md
  docs/view/posts/frontend-job-smalltalk.md
  docs/view/posts/functional-programming.md
  docs/view/posts/how-browser-work.md
  docs/view/posts/intersection-observer-api.md
  docs/view/posts/jwt.md
  docs/view/posts/memory-layouts.md
  docs/view/posts/obj-constructure.md
  docs/view/posts/review2022.md
  docs/view/posts/type-interface-diff.md
  docs/view/posts/web-performance.md
  docs/vite.config.ts
  package.json
  unocss.config.ts
  yarn.lock
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat(vite.config.js): fix the component error
  docs/.vitepress/theme/index.ts
  docs/view/posts/functional-programming.md
  docs/vite.config.ts
Due: prettier --write

fix(css): add the rainbow css
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/overide.css
  docs/.vitepress/theme/rainbow.css
  docs/.vitepress/theme/style.css
Due: none

feat(new post): add the self-learning-smalltak.md
  docs/router/smallTalk.ts
  docs/view/posts/self-learning-smalltalk.md
Due: prettier --write

fix(sitemap.xml): fix Sitemap to upperCase
  docs/.vitepress/plugins/sitemap.ts
Due: none

rmf:remove old version blog
  .github/dependabot.yml
  .github/workflows/algolia.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .gitignore
  _config.landscape.yml
  _config.yml
  package-lock.json
  package.json
  scaffolds/draft.md
  scaffolds/page.md
  scaffolds/post.md
  source/_posts/functional-programming.md
  source/_posts/memory-layout.md
  source/images/fn/fn1.png
  source/images/memory_layout/ex1.png
  source/images/memory_layout/ex2.png
  source/images/memory_layout/sv.gif
  yarn.lock
Due: prettier --write

feat(package.json): update version
  package.json
Due: none

fix(config.ts): fix the dependency error and some other issue
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/config.ts
  docs/index.md
  docs/router/index.ts
  docs/vite.config.ts
Due: prettier --write

feat(encode): add encode page
  docs/router/backEnd.ts
  docs/view/backend/encode.md
  package.json
Due: prettier --write

fix(error-url): fix the allenvitepress to allenblog
  crawlerConfig.json
  docs/.vitepress/config.ts
  docs/.vitepress/meta.ts
  docs/.vitepress/plugins/sitemap.ts
  docs/public/atom.xml
  docs/public/robots.txt
  package.json
Due: none

fix(uppercase): fix the sitemap to lowercase
  docs/.vitepress/plugins/sitemap.ts
Due: none

feat(category): add the logic and unocss
  docs/component/Categories.vue
  docs/public/robots.txt
  docs/view/backend/encode.md
  tsconfig.dom.json
  tsconfig.json
Due: prettier --write

fix(config.ts): fix the socialLinks
  docs/.vitepress/config.ts
Due: none

feat(category): add the unocss and formate date logic
  docs/.vitepress/theme/overide.css
  docs/.vitepress/theme/rainbow.css
  docs/component/Categories.vue
  docs/router/backEnd.ts
  docs/router/frontEnd.ts
  docs/view/posts/change-job-smalltalk.md
  docs/view/posts/dom.md
  docs/view/posts/react/react-001.md
  docs/view/posts/react/react-002.md
  docs/view/posts/react/react-003.md
  docs/view/posts/react/react-004.md
  docs/view/posts/react/react-005.md
  docs/view/posts/react/react-006.md
  docs/view/posts/react/react-007.md
Due: prettier --write

fix(direction): fix the build error
  docs/view/posts/dom.md
  docs/vite.config.ts
Due: prettier --write

fix(direction): fix the build error
  docs/assets/images/dom/dom_tree.png
  docs/view/posts/dom.md
Due: prettier --write

feat(categories): refactor the page
  docs/component/Categories.vue
Due: none

fix(link): remove dead link
  docs/view/frontend/react/react-002.md
Due: prettier --write

chore(logo): change the logo and favicon
  docs/.vitepress/config.ts
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon - 複製.ico
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/logo.png
Due: none

feat(meta): fix the space and meta setting
  docs/.vitepress/meta.ts
  docs/view/smallTalk/gpt-prompt-learning.md
Due: prettier --write

feat(interview-2024): add the interview page
  docs/router/smallTalk.ts
  docs/view/smallTalk/interview-2024.md
Due: prettier --write

feat(interview-2024): fix the error text
  docs/view/smallTalk/interview-2024.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.md
